<div class="container">
    <div class="contacts">
        <div class="row">
            <div class="col-md-4 contact-form-wrapper">
                <div class="contact-form home-item">
                    <div class="contact-form-title">
                        <h1>@Resources.GetInTouch</h1>
                    </div>
                    <div class="contact-form-inner">
                        <form action="">
                            <label>@Resources.Name</label>
                            <input type="text" id="form-contact" />

                            <label>@Resources.Email</label>
                            <input type="email" id="form-contact" />

                            <label>@Resources.Message</label>
                            <textarea name=""
                                      id=""
                                      cols="30"
                                      rows="4"
                                      id="form-contact"></textarea>

                            <div class="contact-submit">
                                <input type="submit" value="@Resources.Submit" class="btn" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-4 twitter-updates-wrapper">
                <div class="twitter-updates home-item">
                    <div class="twitter-title">
                        <h1>@Resources.TwitterUpdates</h1>
                    </div>
                    <div class="twitter-body">
                        <div class="twitter-item">
                            <div class="item-title">
                                <p>Devil May Cry 5</p>
                            </div>
                            <div class="item-body">
                                <a href="http://goo.gl/eJVm">http://goo.gl/eJVm</a>
                            </div>
                            <div class="item-time">
                                <p>about 1 hour ago reply</p>
                            </div>
                        </div>

                        <div class="twitter-item">
                            <div class="item-title">
                                <p>Dead or Alive 6 Special Edition</p>
                            </div>
                            <div class="item-body">
                                <a href="http://goo.gl/eJVm">http://goo.gl/eJVm</a>
                            </div>
                            <div class="item-time">
                                <p>about 1 hour ago reply</p>
                            </div>
                        </div>

                        <div class="twitter-item">
                            <div class="item-title">
                                <p>Resident Evil 2 Deluxe Edition</p>
                            </div>
                            <div class="item-body">
                                <a href="http://goo.gl/eJVm">http://goo.gl/eJVm</a>
                            </div>
                            <div class="item-time">
                                <p>about 1 hour ago reply</p>
                            </div>
                        </div>
                    </div>

                    <div class="twitter-link">
                        <a href="" class="btn">@Resources.FollowUs</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 blog-wrapper">
                <div class="blog home-item">
                    <div class="blog-title">
                        <h1>@Resources.From_the_Blog</h1>
                    </div>
                    <div class="blog-body">
                        <div class="blog-item">
                            <p>
                                Proin commodo sodales arcu, a volutpat. Nulla convallis.
                                <a href="">@Resources.LearnMore</a>
                            </p>
                        </div>
                        <div class="blog-item">
                            <p>
                                Proin commodo sodales arcu, a volutpat. Nulla convallis.
                                <a href="">@Resources.LearnMore</a>
                            </p>
                        </div>
                        <div class="blog-item">
                            <p>
                                Curabitur a aliquet turpis, sagittis eleifend sem.
                                <a href="">@Resources.LearnMore</a>
                            </p>
                        </div>
                        <div class="blog-item">
                            <p>
                                Nam pellentesque finibus felis eget feugiat. Nulla a nisl non
                                veh. <a href="">@Resources.LearnMore</a>
                            </p>
                        </div>
                    </div>

                    <div class="blog-link">
                        <a href="" class="btn">@Resources.LearnMore</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
