@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    var actionName = this.ViewContext.RouteData.Values["action"].ToString();

    var forbiddenActionsInGame = new List<string>
{
        "Index",
        "DetailsByKey"
    };

}
<div class="header-outter">


    <div class="container">
        <div class="header-wrapper">

            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="/">logo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto nav-main-section">
                        <li class="nav-item active">
                            @Html.ActionLink(Resources.Games, "Index", "Game", new { }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item active">
                            @Html.ActionLink(Resources.Genres, "Index", "Genre", new { }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item active">
                            @Html.ActionLink(Resources.Platforms, "Index", "Platform", new { }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item active">
                            @Html.ActionLink(Resources.Publishers, "Index", "Publisher", new { }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item active">
                            @Html.ActionLink(Resources.Basket, "Index", "Basket", new { }, new { @class = "nav-link" })
                        </li>
                    </ul>
                </div>

                @*<div class="navbar-text">
                    <ul class="navbar-nav nav-main-section">
                         <li class="nav-item">
                            <a class="nav-link">*@
                @*@{
                        bool isForbiddenAction = forbiddenActionsInGame.Contains(actionName) && controllerName == "Game";

                        if (isForbiddenAction)
                        {
                            <span>@Resources.GameCount: @await Component.InvokeAsync("GameCount", new { })</span>

                        }
                        else
                        {
                            <cache expires-after="@TimeSpan.FromMinutes(1)">
                                @Resources.GameCount: @await Component.InvokeAsync("GameCount", new { })
                            </cache>
                        }
                    }*@
                @*</a>
                    </li>*@

                <partial name="_NavbarLinks" />

                @*</ul>
                    </div>*@

            </nav>
            <div class="col-md-6 header-inner-wrapper">
                <div class="header-inner">
                    <p class="header-title-question">@Resources.WhatCanMakeYourLifeEasier</p>
                    <p class="header-title-answer">@Resources.EmpoweredSolutionswithSimpleProcess</p>
                </div>
            </div>


        </div>
    </div>

</div>